@charset "utf-8";
/* CSS Document */

	body {
		margin: auto;
		width: 100%;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #797979;
	}
	
	#banner {
		/*border: 1px solid #000;*/
		height: 50px;
		overflow: hidden;
		cursor: pointer;
	}
	
	.menu {
		/*border: 1px solid #000;*/
		height: 135px;
		/*overflow: hidden; */
	}
	
	#tacvu {
		/*border: 1px solid #000;*/
		height: 80px;
		overflow: hidden;
	}
	
	#logo {
		/*border: 1px solid #000;*/
		height: 80px;
		float: left;
		padding-left: 70px;
		cursor: pointer;
	}

	#search {
		/*border: 1px solid #000;*/
		height: 80px;
		float: left;
		width: 300px;
	}
	
	#co-tacvu {
		/*border: 1px solid #000;*/
		font-size: 14px;
		height: 80px;
		padding: 10px 30px 10px 200px ;
		overflow: hidden; 
	}
	
	#co-tacvu table,td {
		/*border:1px solid;*/
		text-align: center;
		width: 600px;
		border-collapse: collapse;
		height: 30px;
	}
	
	#co-tacvu td:hover {
		color:#00D0D0;
		text-decoration:2px underline;
		text-underline-position: under;
		cursor: pointer;
	}

	#co_menu {
		/*border: 1px solid #000;*/
		height: 50px;
		overflow: hidden;
	}
	
	#co_menu td:hover {
		text-decoration: 2px black underline;
		text-underline-position: under;
		line-height: 5px;
	}
	
	#co_menu table {
		/*border:1px solid;*/
		font-size: 17px;
		width:85%;
		border-collapse: collapse;
		margin: auto;
		position: relative;
		top: 13px;
		cursor: pointer;
	}

	
	#main {
		height: 650px;
		background-color: #f4f4f4;
		overflow:hidden;
	}
	
	#co_main {
		height:95%;
		position: relative;
		left: 200px;
		width:1080px;
		position: relative;
		top: 10px;
		
	}
	
	#left {
		/*border: 1px solid #000;*/
		height: 100%;
		width: 590px;
		float:left;
		overflow:hidden;		
	}
	
	#left img {
		width: 600px;
		cursor: pointer;
	}
	
	#left h3 {
		font-size: 16px;
		color: #000;
		font-style: italic;
	}
	
	#left h3:hover {
		text-decoration: 2px black underline;
		text-decoration-position: under;
		cursor: pointer;
	}
	
	#right {
		/*border: 1px solid #000;*/
		height: 100%;
		overflow:hidden;
		position: relative;
		left: 15px;		
	}
	
	#right table {
		/*border: 1px solid;*/
		width:100%;
		height:100%;
		border-collapse:collapse;
	}
	
	#right th{
		overflow:hidden;
		width:40%;
	}
	
	#right img {
		width:95%;
		border:1px solid #000;
		cursor: pointer;
	}
	
	#right td {
		position:relative;
		left: 5px;
	}
	
	#right h4 {
		text-align:left;
		color:#000;
		word-break:break-word;
	}
	
	#right p {
		text-align:left;
		font-style:italic;
		font-size:14px;
		word-break:break-word;
	}
	
	#right h4:hover {
		text-decoration: 2px underline black;
		text-decoration-position: under;
		cursor: pointer;
	}
	
	
	#footer {
		/*border: 1px solid #000;*/
		height: 350px;
		color: #FFF;
	}
	
	#top {
		/*border: 1px solid;*/
		width:100%;
		height: 60px;
		background: #8a8f94;
	}
	
	#fttop {
		/*border: 1px solid;*/
		width: 570px;
		height: 100%;
		position: relative;
		left: 50%;
		font-size:15px;
		overflow:hidden;
	}
	
	#fttop p {
		float:left; 
		padding-top:3px;
	}
	
	#fttop_img {
		float:left;
		padding-left: 10px;
		padding-top: 5px;
	}
	
	#fttop_img img {
		width: 30px;
	}
	
	#fttop_img img:hover {
		position:relative;
		top:-5%;
		cursor:pointer;
	}
	
	#fttop_phone img {
		/*border:1px solid;*/
		width:30px;
		float: left;
		position: relative;
		top:13px;
		left: 40px;
	}
	
	#phone {
		/*border: 1px solid #FFF;*/
		position: relative;
		left:50px;
		width: 150px;
	}
	
	#bottom {
		background: #77797c;
		height: 290px;
		font-size:14px;
	}
	
	#row1 {
		font-size:16px;
	}
	
	#nrow {
		line-height:60%;
	}
	
	#nrow:hover {
		cursor:pointer;
		text-decoration:1px underline;
		text-decoration-position: under;
	}
	
	#bottom_c1, #bottom_c2, #bottom_c3 {
		position:relative;
		top:10px;
	}
	
	#bottom_c1 {
		/*border: 1px solid;*/
		float:left;
		position:relative;
		left: 10%;
	}
	
	#bottom_c2 {
		/*border: 1px solid;*/
		float:left;
		position:relative;
		left: 13%;
	}
	
	#bottom_c3 {
		/*border: 1px solid;*/
		float:left;
		position:relative;
		left: 16%;
	}
	
	#bottom_c4 {
		/*border: 1px solid;*/
		float:left;
		position:relative;
		left: 19%;
		top:20px;
	}
	
	#bottom_c5 {
		/*border: 1px solid;*/
		float:left;
		position:relative;
		left: 22%;
		top:30px;
	}
	
	#bottom_c5 img {
		width:43px;
	}
	
	#bottom_c5 img:hover {
		position:relative;
		top:-8%;
		cursor:pointer;		
	}
	
	#bocongthuong{
		/*border: 1px solid;*/
		position:relative;
		left: 25%;
		top:25px;	
		cursor:pointer;	
	}
	
	#banquyen {
		/*border:1px solid;*/
		width: 30%;
		clear:both;
		position:relative;
		left:60%;
		top:-45px;
	}
	
	#banquyen a:hover{
		 text-shadow: 0 0 1px #C0C0C0;
	}

