<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LeThiHongNhung_Th24.10</title>
</head>

<body>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  </table>
  <h1 style="font-size:36px"> <b>&emsp;&emsp;&emsp;&emsp;Thủ tướng đồng ý cho doanh nghiệp ở Đồng Nai<br /> &emsp;&emsp;&emsp;&emsp;nhập khẩu vắc xin Pfizer</b></h1>
  <table width="100%" border="0">
  <tr>
    <td width="279">&nbsp;</td>
    <td width="680">
	<p style="font-size:20px"> Vừa qua, UBND tỉnh Đồng Nai có văn bản kiến nghị Thủ tướng xem xét,<br />
     	tạo điều kiện hỗ trợ một công ty đóng trên địa bàn tỉnh được nhập khẩu vắc xin<br />
        Pfizer phòng Covid-19.
    </p>
    <img src="images/vaccine.jpg" />
    <P style="font-size:20px"> Xét kiến nghị này, Thủ tướng Phạm Minh Chính đã giao Bộ trưởng Bộ Y tế quán<br />
        triệt và thông báo việc khuyến khích các địa phương, tổ chức tìm mua vắc xin<br />
        phòng Covid-19.
    </P>
    <p style="font-size:20px">Bộ Y tế có nhiệm vụ quản lý việc cấp phép, kiểm tra chất lượng, bảo quản vắc<br />
       xin; tổ chức tiêm miễn phí cho người dân.
    </p>
    <p style="font-size:20px">Bộ trưởng Bộ Y tế cho biết, thực hiện Kết luận của Bộ Chính trị và Nghị quyết 21<br />
       của Chính phủ, trong thời gian qua, Bộ Y tế đã phối hợp với tất cả các bộ, ban<br />
       ngành cũng như khuyến khích tất cả các địa phương, doanh nghiệp, đơn vị tham<br />
       gia vào tìm kiếm, nhập khẩu vắc xin để có nguồn vắc xin sử dụng cho người dân<br />
       Việt Nam nhanh nhất, sớm nhất và rộng nhất.
    </p>
    <p style="font-size:20px">Bộ Y tế sẽ tạo điều kiện tối đa cho tất cả các địa phương và đơn vị, doanh nghiệp<br />
       trong quá trình nhập khẩu, cấp phép nhập khẩu, kiểm định vắc xin. Trong<br />
       trường hợp nhà sản xuất yêu cầu về trách nhiệm miễn trừ thì Bộ Y tế sẽ có trách<br />
       nhiệm báo cáo với Chính phủ và Bộ Y tế sẽ là cơ quan của Chính phủ thực hiện.
    </p>
    <p style="font-size:20px">Trong trường hợp doanh nghiệp không có điều kiện tiêm chủng, Bộ Y tế sẽ chỉ<br />
       đạo hệ thống tiêm chủng của Nhà nước thực hiện tiêm chủng vắc xin này.
    </p>
    <p style="font-size:20px">Bộ Y tế đã xem xét và rà soát lại tất cả các quy trình, thủ tục trong vấn đề về cấp<br />
       phép và đánh giá kiểm định chất lượng. Đối với các loại vắc xin đã được Tổ chức<br />
       Y tế Thế giới (WHO) cấp phép thì trong vòng 5 ngày kể từ khi nhận được đầy đủ <br />
       hồ sơ hợp pháp, hợp lệ và ủy quyền của nhà sản xuất, Hội đồng Cấp phép về vắc <br />
       xin và sinh phẩm của Bộ Y tế sẽ tiến hành họp, thẩm định và cấp phép cho vắc <br />
       xin đó.
    </p>
    <p style="font-size:20px">Đồng thời, khi vắc xin được nhập khẩu vào Việt Nam, trong vòng 2 ngày, nếu có <br />
       đầy đủ hồ sơ hợp lệ về nhập khẩu vắc xin vào Việt Nam và ủy quyền của nhà sản <br />
       xuất thì Hội đồng Cấp phép về vắc xin và sinh phẩm của Bộ Y tế sẽ tiến hành họp, <br />
       thẩm định, rà soát lại toàn bộ hồ sơ và cho phép tiến hành xuất xưởng lô vắc xin <br />
       đó để có thể sử dụng theo quy định của Tổ chức Y tế Thế giới.
    </p>
    <p style="font-size:20px">Bộ Y tế khuyến khích tất cả cộng đồng doanh nghiệp nhập khẩu trực tiếp vắc xin <br />
       về Việt Nam, nếu có ủy quyền chính thức của nhà sản xuất.
    </p>
    <p style="font-size:20px">Đối với địa phương đã đăng ký làm việc với Bộ Y tế và cho biết có thể tiến hành <br />
       mua vaccine của các doanh nghiệp, tập đoàn, Bộ Y tế sẵn sàng tạo điều kiện cho <br />
       địa phương tiếp cận.
    </p>
    <p style="font-size:20px"><b>Thêm 800.000 liều AstraZeneca Ý hỗ trợ Việt Nam, đầu tháng 9 bàn giao </b></p>
    <p style="font-size:20px">Ngày 25/8, Chính phủ Ý quyết định tài trợ 801.600 liều vắc xin AstraZeneca cho <br />
       Việt Nam thông qua cơ chế COVAX. Dự kiến số vắc xin này sẽ được vận chuyển và <br />
       bàn giao cho Việt Nam vào đầu tháng 9 tới.
    </p>
    <p style="font-size:20px">Đây là kết quả của vận động cấp cao, trong đó có việc Thủ tướng Phạm Minh <br />
       Chính gửi thư cho Thủ tướng Ý Mario Draghi đề nghị hỗ trợ vắc xin và các nỗ lực <br />
       vận động mà Tổ công tác của Chính phủ về ngoại giao vắc xin đã triển khai trong <br />
       thời gian qua.
    </p>
    <p style="font-size:20px">Quyết định này là minh chứng cho quan hệ Đối tác chiến lược Việt Nam-Ý, thể <br />
       hiện tinh thần đoàn kết của Chính phủ và người dân Ý đối với Việt Nam trong <br />
       thời điểm khó khăn.
    </p>
    <img src="images/vaccine2.jpg" />
    <p style="font-size:20px">Trong bối cảnh dịch bệnh diễn biến phức tạp với sự xuất hiện của những biến <br />
       chủng mới nguy hiểm và lây lan nhanh, Chính phủ Việt Nam đã xác định việc <br />
       tiếp cận được nhiều nguồn vắc xin để triển khai nhanh nhất chiến dịch tiêm <br />
       chủng mở rộng là giải pháp và ưu tiên cấp bách, góp phần giúp Việt Nam sớm <br />
       đẩy lùi dịch Covid-19.
    </p>
    <p style="font-size:20px">Hiện Ý là nhà tài trợ lớn thứ tư trong EU cho cơ chế COVAX với cam kết ủng hộ 15 <br />
       triệu liều vắc xin và 359 triệu USD. Với vai trò là đối tác phát triển của ASEAN, <br />
       vừa qua Ý cam kết tài trợ bổ sung 2 triệu USD vào quỹ đặc biệt của ASEAN để <br />
       chuẩn bị và ứng phó với đại dịch.
    </p>
    <p style="font-size:20px; text-align:right;"><b>Thái Anh </b></p>
    <a href="https://dantri.com.vn/xa-hoi/thu-tuong-dong-y-cho-doanh-nghiep-o-dong-nai-nhap-khau-vac-xin-pfizer-20210825211452134.htm">Link dẫn bài đăng</a>
    </td>
    <td width="675">&nbsp;</td>
  </tr>
  </table>
  
  <table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  </table>
</body>
</html>
